[data-testid="column"]{
    text-align: center;
    border: 0.1rem solid #fff;
    padding: 2rem;
    border-radius: 2rem;
}
h2{
    text-align: center;
}
footer, header{
    visibility: hidden;
}
.block-container{
    max-width: 1000px;
}